torch==2.5.0 --index-url https://download.pytorch.org/whl/cu124
numpy==1.24.0
scipy==1.12.0
accelerate

pandas>=1.5.3
datasets>=2.15.0
jsonlines>=4.0.0

transformers
langchain>=0.1.1
langchain-community
jsonformer>=0.12.0

openai>=1.0.0
google-generativeai
google-genai
ollama>=0.1.0

requests>=2.25.0
loguru>=0.7.2
google-cloud-storage